/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@fortawesome/fontawesome-free/css/all.css";


html {
  height: 100%;
}

body {
  position: relative;
  overflow-y: hidden;
  background: #394B59;
  height: 100%;
  padding-top: 40px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.bp3-dark a:hover {
  text-decoration: none;
}

ul.bp3-menu {
  max-height: 300px;
  overflow-x: hidden;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row .col {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.col.col-25 {
  width: 25%;
}

.col.col-30 {
  width: 30%;
}

.col.col-50 {
  width: 50%;
}

.col.col-70 {
  width: 70%;
}

.col.col-75 {
  width: 75%;
}

.row.row-inline .col {
  padding-left: 0;
  padding-right: 0;
}

.container {
  height: 100%;
}

.loginContainer {
  top: 15%;
  position: absolute;
  transform: translate(-50%, -15%);
  left: 50%;
  width: 80%;
  max-width: 700px;
}

.inlineLoading {
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
